@import "../../index.css";

.landing-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  color: var(--text-primary);

  --floating-bc: #6900D1;
  --floating-ar: #E6844D;
  --floating-cf: #0ACF83;
  --floating-dc: var(--unicorn);
  --floating-sa: #1ABCFE;
}

.title-content {
  position: absolute;
  color: var(--accent);
  text-align: center;
  top: 40vh;
  left: 25vw;
  height: 20vh;
  width: 50vw;
}

.title-content h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.3px;
}

.title-content h2 {
  padding-top: 20px;
  padding-bottom: 32px;
}

.title-content h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.file-buttons {
  margin: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.floating-text {
  position: absolute;
}

.floating-text p {
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
}

#floating-cf {
  position: absolute;
  width: 185px;
  height: 22px;
  left: 37vw;
  top: 24vh;
  color: var(--floating-cf)
}

#floating-bc {
  position: absolute;
  width: 185px;
  height: 22px;
  left: 75vw;
  top: 15vh;
  color: var(--floating-bc)
}

#floating-sa {
  position: absolute;
  width: 300px;
  height: 22px;
  left: 60vw;
  top: 72vh;
  color: var(--floating-sa)
}

#floating-ar {
  position: absolute;
  width: 300px;
  height: 22px;
  left: 28vw;
  top: 76vh;
  color: var(--floating-ar)
}

#floating-dc {
  position: absolute;
  width: 185px;
  height: 22px;
  left: 12vw;
  top: 48vh;
  color: var(--floating-dc)
}

.trending-content{
  position: absolute;
  top: 100vh;
  width: 100vw;

  height:75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trending-content h1{
  margin-top: 100px
}

.video-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--accent);
  text-align: center;
  top: 175vh;
  width: 100vw;
  height: 100vh;
}

.video-content h1 {
  padding-bottom: 5vh;
}

.video-content iframe {
  width: 60vw;
  height: 60vh;
  padding-bottom: 5vh;
}


a {
  text-decoration: none;
  color: var(--text-primary);
}
.landing-post-content{ 
  display: flex;
  flex-direction: row;
  width: 90%; 
  overflow-x: auto;
  flex-wrap: wrap;
  margin-top: 50px;
  background-color: #EFF2F2;
  justify-content: center;
  align-items: left;
  padding: 20px 10px;
  border-radius: 10px;
}

