@import "../../index.css";

.project-page {
  height: 100vh;
  width: 100vw;
}

.individual-project {
  height: 93vh;
  width: 100vw;
  display: flex;
}

.tag#easy {
  background-color: var(--sage);
}

.tag#medium {
  background-color: var(--pumpkinSpice);
}

.tag#hard {
  background-color: var(--sky);
}

.flex-row.clickables {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 1em;

}

.tag#undefined {
  background-color: var(--darkGrey);
}

.likes2 {
  margin-top: 5px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 5px;
  box-shadow: none;
}



.post-modal-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 3%;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.post-modal-info {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: space-evenly;
}

.pink-button {
  background-color: var(--unicorn);
  align-self: center;
  color: var(--white);
}

.white-button {
  background-color: var(--white);
  align-self: center;
  color: var(--black);
}

.yellow-button {
  background-color: var(--bus);
  align-self: center;
  color: var(--black);
}

.tag span {
  align-self: center;
  margin: 0;
  justify-self: center;
}

.sage-button {
  background-color: var(--sage);
  align-self: center;
  color: var(--white);
}

button#right {
  justify-self: flex-end;
}

.discussion-header {
  background-color: var(--grape);
  border-radius: 15px 15px 0px 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--white);
  padding: 10px;
}

.commentcontainer {
  flex-grow: 4;
  border-radius: 15px;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-top: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 45vh;
  overflow-y: scroll;
}

.comment {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}
.CommentBox{
  display: flex;
  flex-direction: row;
  padding: 15px 15px 15px 20px;
  width: 100%;
}

.comment .username {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;

}

.comment .timestamp {
  color: var(--black);
  font-size: 12px;
  align-items: center;
  justify-content: flex-end;
  padding-left: 05px;

}

.comment .commentbody {

  color: var(--black);

  align-items: baseline;
  justify-content: flex-end;
  padding: 10px;
}


.ReplyBox {
  display: flex;
  flex-direction: row;
  /* padding-left: 60px; */
  padding: 15px 15px 15px 60px;
  width: 100%;
}

.leftLine {
  border-right: solid;
  padding-top: 0.2;
}

.discussion-footer {
  background-color: var(--grey);
  border-radius: 0px 0px 15px 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--white);
  padding: 10px;
}

#right.white-button {
  font-size: 14px;
  height: auto;
  padding: 6px 10px
}

.iframe {
  cursor: pointer;
}

.commentLine1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

.commentLine1Text {
  display: flex;
  flex-direction: row;
  align-items: baseline;

}

.code-header {
  background-color: var(--black);
  border-radius: 15px 15px 0px 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--white);
  padding: 10px;
}

.post-modal-code {
  margin: -20px 20px 0px 40px;
  flex-grow: 1;
  border-radius: 15px;
  background-color: var(--grey);
  height: 15vh;
  width: 50vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  align-self: flex-end;
  padding: 5px;
  z-index: 100;
}

.dropdown span {
  padding: 3px;
  cursor: pointer;
}

.dropdown button {
  box-shadow: none;
}

.discussionFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

}

.discussionInput {
  border: none;
  border-radius: 5px;
  width: 30vw;
}

.dropdown span:hover {
  background-color: var(--grey);
  border-radius: 4px;
}

/* .react-tabs__tab-panel{
  height: 80vh
} */
/* .profile-editor{
  height: 80vh;
} */
/* .editor-wrapper{
  height: 80vh;
} */

.emptyComments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: 100%
}

.description-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.ip-button-container{
  display: flex;
  flex-direction: row;
}

