@import "../../index.css";

.docu-page {
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    color: var(--text-primary);
  
    --floating-bc: #6900D1;
    --floating-ar: #E6844D;
    --floating-cf: #0ACF83;
    --floating-dc: var(--unicorn);
    --floating-sa: #1ABCFE;
  }
  .docu-section{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }