@import '../../index.css';

/* radio toggle buttons example from https://www.sliderrevolution.com/resources/css-toggle-switch/ */
/* serch icon inside input https://nikitahl.com/search-icon-inside-input */

.editor-content {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  color: var(--text-primary);
}

.editor-container {
  height: 94vh;
  width: 78vw;
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  padding: 1vh;
  justify-content: space-between;
}

.editor-header-bar {
  height: 6vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editor-header-bar[data-theme='dark'] {
  background: var(--black);
}

.editor-header-bar[data-theme='light'] {
  background: var(--boring)
}

.editor-header-bar h1 {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
  padding-left: 21px;
}

.sidepanel-container {
  height: 92vh;
}

.filename-tab {
  margin-top: 2vh;
  height: 3vh;
  width: 60%;
  display: flex;
  background-color: var(--sky);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

.filename-tab p {
  font-size: 14px;
}

.filename-tab img {
  height: 14px;
  margin-left: 4px;
  margin-right: 4px;
  align-self: center;
}

.bracky-sidepanel {
  height: 88vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: width 0.3s ease-in-out;
}

.bracky-sidepanel-closed {
  height: 94vh;
  width: 5vw;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: width 0.3s ease-in-out;
}

.settings-buttons-closed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.bracky-sidepanel-closed button {
  padding: 8px;
}

.bracky-sidepanel {
  background: var(--boring);
  color: var(--black);
}

.sidepanel-header {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.chatbox {
  height: 80%;
  display: flex;
  align-items: flex-end;
}

.entry-text .chatbox {
  bottom: 0;
  left: 0;
}

.entry-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.entry-text img {
  height: 55px;
  width: 55px;
}

.entry-text p {
  width: 14vw;
  padding-left: 10px;

}

.sidepanel-footer {
  width: 100%;
  height: 7vh;
  background-color: var(--easyA);
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mode-settings {
  display: flex;
  flex-direction: column;
}

.settings-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.settings-buttons button {
  padding: 5px;
}

.title {
  font-family: monospace;
  margin-left: 10px;
  font-size: 20px;
  font-style: bold;
}

p {
  margin-top: 2px;
  margin-bottom: 1px;
}

form {
  border: none;
  padding: 0;
  background-color: var(--white);
}

input.submit {
  width: 16vw;
  display: block;
  border: none;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.btn {
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  color: var(--text-primary);
}


/* Output Window */
.output-window {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Console Window */
.console-window {
  width: 100%;
  height: 100%;
  background-color: white;
}

.stdin-window {
  width: 100%;
  height: 25%;
  padding: 10px;
  background-color: var(--boring);
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}

.output-header {
  height: 45px;
  align-items: center;
  background-color: var(--easyA);
  border-top-right-radius: 25px;
  justify-content: center;
}

.output-header img {
  padding: 10px;
}

.output-text {
  background: var(--boring)
}

a {
  text-decoration: none;
}
.bottom-rounded{
  border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
}