@import "../../index.css";


.agolia-search {
  width: 100%;
  display: flex;
  justify-content: center;

}

.agolia-search button {
  background-color: var(--unicorn);
  margin-left: 20px;
}


.agolia-search input {
  width: 60vw;
  outline: none;
  background-color: var(--boring);
}