.box {
    border-color: black;
    border-style: solid;
    background-color: rgb(33, 32, 32);
    margin-left: 10px;
    margin-right: 10px;
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    
}

.title {
    font-family: monospace;
    margin-left: 10px;
    font-size: 20px;
    font-style: bold;
}

.out-text {
    font-family: monospace;
    margin-left: 10px;
    margin-top: 2px;
    line-height: 10pt;
    color: white;
}

p {
    margin-top: 2px;
    margin-bottom: 1px;
}